# Byte-compiled / optimized / DLL files
__pycache__/

*Chat*/
*chat*

SCRAT*/
scra*.py
scr*.py

*.ipynb 
*.xlsx

*.py[cod]
*$py.class
.idea/
.eggs/
api_key*.*

#API KEY --------------------------------
APIKEY_FOLDER/
APIKEY*/
API*/
API*.*
!api_params.py
!api_params*.py
api_key.txt
apikey.txt
!apikey_class.py
!api_key_save.py

!Example*.ipynb
#IGNORED NAME FORMATS --------------------------------
ignore*.*
---/
--*.*
--*/
*ignore*/
*ignore*.*
ignore_*.*
ignore_*/
ignore/
ignore*
scratches/
.DS_Store
.github/.DS_Store
*.DS_Store

#PY PACKAGES --------------------------------

#Poetry
#----------------------------------------------
# *.lock
# poetry.lock

#/ PY PACKAGES --------------------------------


#ENVS --------------------------------

#VSCODE
#----------------------------------------------
.vscode/




#/ ENVS --------------------------------


simulation.txt

SeriesData/
logs/
pickles/

unit_tests/
other_tests/
OTHER_TESTS/

dev/

*IO/
setup_config.py

p/
tox.ini

*proxy*/

.idea
*series.cfg
options.cfg
# C extensions
*.so



# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# JSON
*.json

# TEXT
*.txt
!requirements.txt
!test.proxy.txt
!test.api.txt
# OTHER FILES
*.xls
*.xlsx
*.csv
*.pdf
*.docx
*.doc
*.cfg
*.gif
*.jpg
*.JPEG
*.JPG




# PICKLES
*.pickle
!test_reg_result.pickle




# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
--Test--/
APIKEY_FOLDER/
dist/
# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

!docs/api_key.rst 
!docs/*.rst 
!docs/source/*.rst 


# Sphinx documentation
#docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
venv*/
ENV/
env.bak/
venv.bak/


stats_requests.txt
options.cfg


# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
/_version.py
/EVDSlocal/APIKEY_FOLDER/


!Api_requester.py
.github/.DS_Store